name: CI
on:
  - push
  - pull_request
jobs:
  build:
    name: ${{ matrix.os }} (${{ matrix.rust }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust:
          - 1.74
          - stable
        # https://github.com/actions/virtual-environments#available-environments
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
    steps:
      - uses: actions/checkout@v6
      - name: install ${{ matrix.rust }} toolchain
        run: rustup update ${{ matrix.rust }} && rustup default ${{ matrix.rust }}
      - name: build
        run: cargo build
